.statContainer{
    display: flex;
}

.container{
    color: #3D405A;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.rankingTable {
    margin-right: 20px;
    max-height: 550px;
    width: 60%;
}

.downloadHistogram{
    width: 40%;
    padding-top: 30px;
}

.rankingTableFooter{
    margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
    .statContainer{
        flex-direction: column;
    }

    .rankingTable {
        width: 100%;
        margin-bottom: 30px; 
    }

    .downloadHistogram{
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .statContainer{
        flex-direction: row;
    }
}