api/package-lock.json
# package-lock.json 
mock-pachyderm-api/node_modules
mock-pachyderm-api/package-lock.json
#api/pachyderm-config/pachyderm-config/
#api/pachyderm-config/
node_modules
.env
old-db/db-scripts/data
db/data
.DS_Store
build