.loginRegContent{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(255, 255, 255,0.5);
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-top: 200px;
}

.emailInput{
    display: flex;
    align-items: center;
}

.emailInput .p-inputtext {
    font-size: 12px;
    margin-right: 10px;
    width: 80%;
}

.emailInput .p-button.p-button-text-icon-left .p-button-text {
    padding: 0.3em 0.5em 0.3em 2.0em;
}

.formContainer{
    margin-top:30px;
    border-top: 1px solid #3D405A;
}

.pwdInput{
    width: 80%;
    margin-bottom: 20px;
}

.pwdMsg{
    color: red;
    font-size: 12px;
}

.logoutMsg{
    color: red;
    font-size: 14px;
}

.forgotPasswordBtn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #3D405A;
    text-decoration: underline;
}