<html>
<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='./javascript/root.js'></script>

</head>

<body>
    <div id="nav">
        <span class="home-button">
            <img src="./images/trumpet-orcestra.png">
            ORCESTRA
        </span>
        <a href="https://pharmacodb.pmgenomics.ca" target="_blank">PharmacoDB</a>
        <a href="https://www.pmgenomics.ca/bhklab/" target="_blank">Contact</a>
        <a href="http://localhost:2000/" >Home</a>

    </div>

    <div id="container" class="form-select" >

        <h1>ORCESTRA Pipeline Selection</h1>

        <div class="row">
            <div class="col">
              <label for="os">Dataset</label>
              <select id="os" class="form-control"="">
                <option style="font-size:50px;" value="">Select One...</option>
                <option value="Leuk AML">Leuk AML</option>
                <option value="Leuk Cell line">Leuk Cell line</option>
              </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="ve">Dataset Version</label>
                <select id="ve" class="form-control">
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label for="genome">Genome</label>
                <select id="genome" class="form-control">
                    <option value="">Select One...</option>
                    <option value="GRCh38">GRCh38</option>
                    <option value="GRCh37">GRCh37</option>
                </select>

            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <label for="co">Drug Sensitivity</label>
                <select id="co" class="form-control">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <label for="ph2">Datatype</label>
              <select id="ph2" class="form-control">
                  <option value="">Select One...</option>
                  <option value="RNA">RNA</option>
              </select>
            </div>
        </div>
          
        <div class="row" >

            <div class="col">
                <label for="bv">Tool + Version</label>
                <select id="bv" class="form-control" required>
                </select>

            </div>

            <div class="col-1">  <br>
                <button id="add2" class="btn btn-primary form-control btn-sm">+</button>
            </div>

        </div>

        <div class="row" id="ex2">

            <div class="col">
                <select id="bv2" class="form-control">
                </select>
            </div>

            <div class="col-1">
                <button id="sub2" class="btn btn-primary form-control btn-sm">-</button>
            </div>

        </div>

        <div class="row">
            <div class="col">
            <label for="g2">RNA Tool Reference</label>
            <select id="g2" class="form-control">
            </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="#" >
                    <div>
                        <label for="os">Enter Email for Custom PSet Link</label>
                        <input id="to" name="to" value="" required>
                    </div>
                </form>
            </div>
        </div>
        <div id="bar">
            <button id="btn" onclick="receiptFn()">
            <span id="text" >SUBMIT</span>
            </button>
            <div id="progress"></div>

        </div>
    </div>
    
    <div id="container" class="receipt">
          <!-- <div id="res" class="container"> -->
            <h1>You have selected:</h1>

            <p><div class="row" >
                <span class="receipt-header">Dataset:</span>&nbsp; <span id="osr" class="input"></span>
            </div>
            <p><div class="row">
                <span class="receipt-header">Dataset Version:</span> &nbsp; <span id="verr" class="input"></span>
            </div>
            <p><div class="row">
                <span class="receipt-header">Genome:</span> &nbsp; <span id="genomer" class="input"></span>
            </div>
            <p><div class="row">
                <span class="receipt-header">Drug Sensitivity:</span> &nbsp; <span id="corr" class="input"></span>
            </div>

            <p><div class="row">
                <span class="receipt-header">Data Type 2:</span> &nbsp; <span id="phr2" class="input"></span>
            </div>
            <p><div class="row">
                <span class="receipt-header">Tool + Version:</span> &nbsp; <span id="bvr" class="input"></span>

            </div>
            <p><div class="row">
                <span class="receipt-header">RNA Tool Reference:</span> &nbsp; <span id="g2r" class="input"></span>
            </div>

            <p><div class="row">
                <span class="receipt-header">Email:</span> &nbsp; <span id="email" class="input"></span>
            </div>
            
        <!-- </div> -->

    </div>
     

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>