body {
    background-color:rgb(210, 241, 241);
}
button {
    color:white;
    font-weight:bold;
    border-radius:5px;
    background:rgb(61, 64, 90) !important;
    cursor:pointer;
    width:200px;
    height:70px;
    padding:0;
    position:relative;
    outline:none;  
    border:none; 
}
button:focus {outline:0;}

h1 {
    color:rgb(61, 64, 90);
    
}
#progress {
    width:0px;
    height:70px;
    background:rgb(243, 166, 77); /*set desired color*/
    position:absolute;
    left:0;
    top:0;
    z-index:2;
    border-radius:5px;
    border:none;
    outline:none;


}
#progress.anima {
  width:200px;
  transition: width 2s ease; 
}
#bar {
  position:relative;
  margin-bottom:50px;
}
span {
  z-index:9;
  position:relative;
  text-transform:uppercase;
}

.home {
    padding:50px;
    line-height:25px;
    
}

.home h1 {
    left: 0;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align:center;
    font-size:100px;
    color:rgb(61, 64, 90);
}


.home h2 {
    left: 0;
    margin: auto;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align:center;
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    color:rgb(61, 64, 90);
}

#links {
    margin: 100px auto;
    width: 100%;
    position:relative;
    top:50%;
    text-align:center;
    background:rgb(190, 228, 228);
    height:140px;
    padding-top:57px;

}

#links a{
    color:rgb(61, 64, 90);
    font-size:14px;
    font-weight:bold;
    transition: .2s ease-out;
    margin: 0px 8vw;
    padding:15px 30px;
    /* background:rgb(210, 241, 241); */
    color:rgb(61, 64, 90);
    text-align:center;
}

#links a:hover {
    text-decoration:none;
}

i {
    border: solid rgb(241, 144, 33);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;
    width:20px;
    transition: .3s ease-out;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow-container {
    left: 0;
    margin: auto;
    position: absolute;
    top: 90%;
    text-align:center;
    width:100%;
}
.arrow-container:hover {
    cursor:pointer;
}
.arrow-container:hover i {
    border:solid rgb(61, 64, 90);
    border-width: 0 3px 3px 0;
    transition: .3s ease-out;
}
#nav {
    top: 0%;
    position:fixed;
    width:100%;
    background:white;
    height:63px;
    color:rgb(16, 22, 77);
    z-index:999;
    border-bottom:10px solid rgb(210, 241, 241);
    padding:0px 50px;
}

#nav img {
    width:45px;
    height:45px;
    float:left;
    margin-top:5px;
}



#nav a {
    float:right;
    color:rgb(61, 64, 90);
    font-size:14px;
    margin:13px 20px;
    border-bottom:1px solid rgb(61, 64, 90);
    padding-bottom:3px;
    font-weight:bold;
    transition: .2s ease-out;
}

#nav a:hover {
    text-decoration:none;
    border-bottom:1px solid rgb(241, 144, 33);
    transition: .2s ease-out;
}

.home-button {
    color:rgb(61, 64, 90);
    font-weight:bold;
    top:14px;
    left:4px;
    /* line-height:13px; */
}
.home-button:hover {
    cursor:pointer;
}
#container {
    padding-top:80px;
    width:100%;
    height:100%;
    margin:0px 0px 50px 0px;  
}
.form-select {
    padding: 80px;
    height:auto !important;
}
.receipt {
    display:none;
    padding:80px;
    font-size:20px;
    margin-top:30px;
}


.receipt h1 {
    margin-left:-20px;
}

label {
    font-weight:bold;
    color:rgb(61, 64, 90); 
}

select,input {
    border:none !important;
    background:rgb(210, 241, 241) !important;
    border-bottom: 2px solid white !important;
    color: rgb(61, 64, 90) !important;
}

.form-control:focus {
    outline:none !important;
    box-shadow: none !important;
}
input:focus {
    outline:none !important;
    box-shadow: none !important; 
}
option {
    font-size:14px !important;
}

select{
    width:100%;
}

.form-select label {
    margin:20px 0px;
}

.form-select input {
    width:100%;
    margin:20px 0px;
}

.form-select .col {
    min-width:100%;
}

.btn-primary {
    color:white;
    font-weight:bold;
    border-radius:5px;
    background:rgb(61, 64, 90);
    cursor:pointer;
    padding:0;
    position:relative;
    margin:20px 0px;
}

#add2:hover, #sub2:hover {
    background-color:rgb(243, 166, 77) !important;
}

.receipt-header {
    font-weight:bold;
    font-size:1.2rem;
    color: rgb(61, 64, 90) !important;
}

.receipt .row {
    margin:30px 0px;
}

.receipt .input {
    margin:0px 10px;
    color: rgb(61, 64, 90) !important;
}