header {
    top: 0%;
    width:100%;
    background-color:rgb(255,255,255, 0.7);
    height:70px;
    position: fixed;
    z-index: 999;
}

header img {
    max-width: 100%;
    max-height: 100%;
    float: left;
    margin-left: 100px;
}

header a {
    color:rgb(61, 64, 90);
    font-size:14px;
    padding-bottom:3px;
    font-weight:bold;
    transition: .2s ease-out;
}

header a:hover {
    text-decoration:none;
    color: #555975;
    border-bottom:3px solid rgb(241, 144, 33);
    transition: .2s ease-out;
}

.active-link{
    text-decoration:none;
    color: #555975;
    border-bottom:3px solid rgb(241, 144, 33);
}

.navBarContainer {
    height: 100%;
    float: right;
    display: flex;
}

.navBar {
    margin-right: 100px;
    width: 890px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-button {
    color:rgb(61, 64, 90);
    font-weight:bold;
}

.home-button:hover {
    cursor:pointer;
}

.loggedIn{
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 999;
    margin-right: 100px;
    font-size: 12px;
    color: red;
}

.loginGrowl .p-growl.p-growl-topright {
    top: 90px;
    right: 100px;
}

.pachydermStatus {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.pachydermStatus > .icon {
  font-size: 25px;
}

.pachydermStatus > .text {
  font-size: 12px;
}

.isOnline {
  color: #0ea353;
}

.isOffline {
  color: #bb2003;
}

/*react-burger-nav style*/

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 25px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #3D405A;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #555975;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #3D405A;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: rgba(255, 255, 255, 0.7);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    /* color: #b8b7ad; */
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    margin-bottom: 20px;
    text-align: left;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(61, 64, 90, 0.5);
  }

@media only screen and (max-width: 1200px) {
  .navBar {
      display: none;
  }

  header img {
      margin-top: 10px;
      margin-left: 30px;
      max-width: 60px;
      max-height: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .bm-burger-button {
    display: none;
  }

  .bm-menu {
    display: none;
  }

  .bm-cross {
    display: none;
  }
}