header {
    top: 0%;
    /* position:fixed; */
    width:100%;
    background-color:rgb(255,255,255, 0.5);
    height:90px;
}

header img {
    max-width: 100%;
    max-height: 100%;
    float: left;
    margin-left: 100px;
}

header a {
    color:rgb(61, 64, 90);
    font-size:17px;
    padding-bottom:3px;
    font-weight:bold;
    transition: .2s ease-out;
}

header a:hover {
    text-decoration:none;
    border-bottom:1px solid rgb(241, 144, 33);
    transition: .2s ease-out;
}

.navBar {
    margin-right: 150px;
    width: 20%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-button {
    color:rgb(61, 64, 90);
    font-weight:bold;
}

.home-button:hover {
    cursor:pointer;
}