@media screen and (max-width: 600px) {
    .p-datatable .p-datatable-thead > tr > th,
    .p-datatable .p-datatable-tbody > tr > td {
        font-size: 12px; /* Adjust font size */
        padding: 8px; /* Adjust cell padding */
    }

    .p-datatable .textField {
        display: none; /* Hide specific columns */
    }

    /* Additional customizations for other columns */
}
