.userInfoContainer {
    color: #3D405A;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    width: 25%;
    max-width: 300px;
    height: 100%;
    /* min-height: 210px;
    max-height: 350px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.userInfo{
    margin-bottom: 20px;
    font-size: 14px;
}

.userInfoBtn{
    margin-top: 40px;
}

.userInfoBtn .pwdReset {
    margin-right: 5px;
}