.pSetListContainer {
    display: flex;
}

.pSetFilter {
    width: 30%;
}

.pSetTable {
    width: 70%;
    margin-left: 50px;
}

.pSetSelectionSummary {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: #3D405A;
    background-color: rgba(255, 255, 255, 0.8);
}

.pSetSelectionSummary h2 {
    margin: 0;
    padding-top: 0.65em;
}

.pSetSummaryContainer {
    display: flex;
    padding-top: 5px;
    font-size: 20px;
}

.pSetSummaryItem {
    margin-right: 30px;
}

.pSetSelectedList {
    margin-top: -20px;
}

.pSetSelectedList ul{
    width: 300px;
    height: 100px;
    margin-top: -20px;
    font-size: 12px;
    overflow: auto;
}

.pSetSummaryNum {
    font-size: 50px;
    font-weight: bold;
}

body .p-component {
    font-size: 12px;
    font-family: "Raleways", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body .p-datatable .p-datatable-tbody > tr.p-highlight  {
    background-color: #ffffff;
    color: #333333;
    font-weight: bold;
}

body .p-datatable .p-datatable-tbody > tr:nth-child(even).p-highlight  {
    background-color: #f9f9f9;
    color: #333333;
    font-weight: bold;
}

.textField{
    word-wrap: break-word;
}
  