.pSetListContainer {
    display: flex;
}

.pSetFilter {
    width: 30%;
}

.pSetTable {
    width: 70%;
    margin-left: 50px;
}

.pSetSelectionSummary {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: #3D405A;
    background-color: rgba(255, 255, 255, 0.8);
}

.pSetSelectionSummary h2 {
    margin: 0;
    padding-top: 0.65em;
}

.pSetSummaryContainer {
    display: flex;
    padding-top: 5px;
    font-size: 20px;
}

.pSetSummaryItem {
    margin-right: 30px;
}

.pSetSelectedList {
    margin-top: -20px;
}

.pSetSelectedList ul{
    width: 300px;
    height: 100px;
    margin-top: -20px;
    font-size: 12px;
    overflow: auto;
}

.pSetSummaryNum {
    font-size: 50px;
    font-weight: bold;
}
