/* Style override for PrimeReact UI elements */

body .p-component {
    font-size: 12px;
    font-family: "Raleways", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* PSetList comonent */

body .p-datatable .p-datatable-tbody > tr.p-highlight  {
    background-color: #ffffff;
    color: #333333;
    font-weight: bold;
}

body .p-datatable .p-datatable-tbody > tr:nth-child(even).p-highlight  {
    background-color: #f9f9f9;
    color: #333333;
    font-weight: bold;
}

body .p-datatable .p-sortable-column.p-highlight {
    background-color: #3D405A;
    color: #ffffff;
}

body .p-datatable .p-sortable-column:focus {
    box-shadow: none;
}

.textField{
    word-wrap: break-word;
}

/* End PSetList component */

/* PSetFilter component */

body .p-multiselect:not(.p-disabled).p-focus{
    border-color: #555975;
    box-shadow: 0 0 0 0.1em #555975;
}

.p-multiselect-panel .p-multiselect-items{
    font-size: 12px;
}

body .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
    color:#3D405A;
    border-color: #ffffff;
    background-color: #ffffff;
}

body .p-checkbox .p-checkbox-box.p-highlight {
    color: #ffffff;
    border-color: #3D405A;
    background-color: #3D405A;
}

body .p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled):hover {
    color: #ffffff;
    border-color: #555975;
    background-color: #555975;
}

body .p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover{
    background-color: #ffffff;
}

body .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
    color: #3D405A;
}

body .p-checkbox .p-checkbox-box:not(.p-disabled).p-focus {
    border-color: #555975;
    box-shadow: 0 0 0 0.1em #ffffff;
}

body .p-inputtext:enabled:focus {
    border-color: #555975;
    box-shadow: 0 0 0 0.1em #555975;
}

body .p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.1em #ffffff;

}

.my-multiselected-item-token {
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2px;
    background-color: #3D405A;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
}

body .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #3D405A;
    background-color: #3D405A;
    color: #ffffff;
}

body .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #555975;
    background-color: #555975;
    color: #ffffff;
}

body .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    box-shadow: none;
    outline: none;
    border: none;
}

/* End of input filter styling */

/* Button styling*/

body .p-button {
    background-color: #3D405A;
    border: 1px solid #3D405A;
    font-size: 14px;
    padding: 0em 0.5em;
}

body .p-button:enabled:hover {
    background-color: #555975;
    border: 1px solid #555975;
    color: #F19021;
}

body .p-button:enabled:focus {
    background-color: #555975;
    border: 1px solid #555975;
    box-shadow: 0 0 0 0.1em #555975;
}

body .p-button.p-button-text-only .p-button-text {
    padding: 0.5em 0.5em;
}

/* End of button styling */

/* Switch styling */

body .p-inputswitch.p-inputswitch-focus .p-inputswitch-slider {
    box-shadow: 0 0 0 0.1em #555975;
}

body .p-inputswitch .p-inputswitch-focus .p-inputswitch-focus .p-inputswitch-slider {
    box-shadow: 0 0 0 0.1em #555975;
}

body .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: #3D405A;
}

body .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
    background-color: #3D405A;
}

/* End of switch styling */

/* End PSetFilter component */
  
body .p-inputtext {
    font-size: 12px;
}

body .p-dropdown:not(.p-disabled).p-focus{
    background-color: #555975;
    border: 1px solid #555975;
    box-shadow: 0 0 0 0.1em #555975;
}

body .p-dropdown-panel .p-dropdown-filter-container .p-dropdown-filter-icon {
    color: #3D405A;
}

body .p-dropdown-panel .p-dropdown-filter-container {
    width: 100%;
}

body .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: #555975;
}
body .p-link:focus {
    box-shadow: 0 0 0 0.2em #555975;
}

body .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #3D405A;
    color: #ffffff;
}

/* Tab styling */
body .p-tabview.p-tabview-top .p-tabview-nav li.p-highlight a{
    background-color: #3D405A;
    border: 1px solid #3D405A;
}

body .p-tabview.p-tabview-top .p-tabview-nav li.p-highlight:hover a{
    background-color: #555975;
    border: 1px solid #555975;
}

body .p-tabview.p-tabview-top .p-tabview-nav li a:not(.p-disabled):focus{
    box-shadow: none;
}

/* Accordion styling */
body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight a{
    background-color: #3D405A;
    border: 1px solid #3D405A;
}

body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover a{
    background-color: #555975;
    border: 1px solid #555975;
}

body .p-accordion .p-accordion-header:not(.p-disabled) a:focus{
    box-shadow: none;
}