.mainContent{
    width: 100%;
    margin-top: 10%;
}

.home {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.home h1 {
    left: 0;
    margin: auto;
    width: 100%;
    text-align:center;
    font-size:100px;
    color:rgb(61, 64, 90);
}

.home h2 {
    left: 0;
    margin: auto;
    width: 100%;
    text-align:center;
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    color:rgb(61, 64, 90);
}

.links {
    max-width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px; 
    padding-right: 50px;
    background-color:rgb(255, 255, 255,0.5);
    border-radius: 10px;
    min-height:300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    background-color: rgb(61, 64, 90);
    border-radius: 15px;
    border: none;
    padding: 35px 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover{
    background-color: #555975;
    color: rgb(241, 144, 33);
}

@media only screen and (max-width: 965px) {
    /* For mobile phones: */
    .links {
        flex-direction: column;
        min-height:100px;
    }

    .home h1 {
        font-size: 40px;
    }

    .home h2 {
        font-size: 12px;
    }

    .button {
        padding: 25px 20px;
        margin: 10px 0px;
        font-size: 14px;
        width: 200px;
    }
}