.mainContent{
    width: 100%;
    padding-top: 50px;
    height: 95vh;
    color:rgb(61, 64, 90);
}

.home {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.home h1 {
    left: 0;
    margin: auto;
    width: 100%;
    text-align:center;
    font-size:100px;
    color:rgb(61, 64, 90);
}

.home h2 {
    left: 0;
    margin: auto;
    width: 100%;
    text-align:center;
    font-weight:bold;
    color:rgb(61, 64, 90);
}

.links {
    max-width: 750px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px; 
    padding-right: 50px;
    background-color:rgb(255, 255, 255,0.5);
    border-radius: 10px;
    min-height:300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    background-color: rgb(61, 64, 90);
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

.button:hover{
    background-color: #555975;
    color: rgb(241, 144, 33);
}

.mainMenuContainer {
    margin-top: 30px;
}

.mainMenuRow{
    display: flex;
    justify-content: center;
}

.mainMenuItem{
    background-color:rgb(255, 255, 255,0.5);
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    min-height:200px;
    min-width: 300px;
}

.mainMenuItemContent{
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mainMenuItemLine{
    margin-bottom: 20px;
    font-size: 20px;
}

.mainMenuLink{
    margin-top: 50px;
}

.largeNum{
    font-size: 75px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 965px) {
    /* For mobile phones: */
    .links {
        flex-direction: column;
        min-height:100px;
    }

    .home h1 {
        font-size: 40px;
    }

    .home h2 {
        font-size: 12px;
    }

    .button {
        padding: 25px 20px;
        margin: 10px 0px;
        font-size: 14px;
        width: 200px;
    }
}