.pSetFilterContainer{
    width: 355px;
    max-height: 620px;
}

.pSetFilter {
    color: #3D405A;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    width: 100%;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.filterSet {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

label {
    margin-right: 10px;
}

.bold {
    font-weight: bold;
    font-size: 16px;
}

/* Input filter styling */
.inputSelect {
    flex-grow: 1;
}

form .p-inputtext {
    font-size: 12px;
    width: 100%;
}
