.pSetListContainer {
    display: flex;
}

.pSetFilter {
    width: 25%;
}

.pSetTable {
    width: 75%;
    margin-left: 20px;
}

.pSetSelectionSummary {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: #3D405A;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.summaryPanel {
    margin-right: 70px;
}

.requestFormPanel {
    width: 400px;
}

.pSetSelectionSummary h2 {
    margin: 0;
    padding-top: 0.65em;
}

.pSetSummaryContainer {
    display: flex;
    padding-top: 5px;
    font-size: 20px;
    margin-bottom: 45px;
}

.pSetSummaryItem {
    margin-right: 30px;
}

.pSetSelectedList {
    margin-top: -20px;
}

.pSetSelectedList ul{
    width: 300px;
    height: 100px;
    margin-top: -20px;
    font-size: 12px;
    overflow: auto;
}

.pSetSummaryNum {
    font-size: 100px;
    font-weight: bold;
}

.metaBtn.p-button {
    font-size: 12px;
}

.downloadBtn.p-button {
    margin-right: 10px;
}

.reqFormInput {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.loaderContainer {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.tableLoaderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
