.psetRequest {
    color: #3D405A;
    width: 100%;
    display: flex;
}

.psetRequestForm {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    padding: 15px 30px 30px 30px;
    border-radius: 15px;
    width: 40%;
    margin-right: 20px; 
}

.psetRequestForm form{
    margin-top: 30px;
}

.requestSelectionSummary {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 30px 30px 30px;
    border-radius: 15px;
}

.psetAvailability {
    height: 25%;
}

.psetAvail {
    margin-left: 30px;
}

.pSetAvailLink {
    margin-left: 10px;
}

.pSetAvailLink a {
    color:#3D405A;
    text-decoration: underline;
}

.pSetAvailLink a:hover {
    color: #555975;
}

.pSetNum {
    font-size: 90px;
    font-weight: bold;
    margin-right: 20px;
}

.requestProfile {
    height: 70%;
}

.parameterSelectionContainer {
    margin-left: 30px;
}

.parameterSelectionSet {
    display: flex;
    margin-bottom: 40px;
}

.parameterName {
    width: 200px;
    font-size: 17px;
}

.parameterSelection {
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.noneSelectedMsg {
    color: #555975;
    font-weight: normal;
}

