@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: #FAFAFA;
    font-family: 'Roboto';
}

.dropdown {
    flex-grow: 1;
    background-color: #fafafa;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
