
@tailwind base;
@tailwind components;
@tailwind utilities;


[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='search']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    --tw-ring-color: var(--primary-color);
    border-color: var(--primary-color);
}


