.tabContainer {
    width: 100%;
}

.tabMainHeader {
    margin-left: 20px;
}

.tabContentSection {
    margin-top: 30px;
    margin-bottom: 50px;
}

.tabContentSection h3{
    font-size: 16px;
}

.tabContent {
    margin-left: 40px;
    margin-right: 20px;
}

.subContent {
    margin-left: 20px;
    font-size: 14px;
    max-width: 90%;
}

.indented-1 {
    margin-left: 20px;
}

.exomeRef {
    margin-bottom: 20px;
}

.listItem-1 {
    margin-bottom: 10px;
    font-size: 14px;
}

.psetTitle {
    display: flex;
    align-items: baseline;
}

.psetTitle .downloadBtn{
    margin-left: 30px;
}

.pubList{
    margin-bottom: 30px;
}

.generalInfoAccordion{
    width: 100%;
    margin-bottom: 30px;
}