.tabContainer {
    width: 70%;
}

.tabMainHeader {
    margin-left: 20px;
}

.tabContentSection {
    margin-top: 30px;
    margin-bottom: 50px;
}

.tabContentSection h3{
    font-size: 16px;
}

.tabContent {
    margin-left: 40px;
}

.subContent {
    margin-left: 20px;
    font-size: 14px;
    max-width: 90%;
}

.indented-1 {
    margin-left: 20px;
}

.exomeRef {
    margin-bottom: 20px;
}